[2015-01-30 10:54] wildex999 opened #1 "dimnames only list loaded dimensions"
Currently the command "tickdynamic list dimnames" will only list the names of worlds that are currently loaded and ticking.
In the future this command should list all dimnames, and also paginate the list.

[2015-01-30 10:56] wildex999 opened #2 "Get name of single dimension"
A command to get the name of a single dimension without having to go through the dimnames list.
For example: tickdynamic list dimname dim0
Would return Overworld

[2015-01-30 19:03] Hazado opened #3 "Server crash"
Hope this helps fix whatever issue I have, let me know if you need any more info
http://pastebin.com/Xdc3NUhk

[2015-01-30 19:10] #3 closed

[2015-01-30 19:40] wildex999 commented on #3
You closed the issue, did you figure out the problem?
The crash report did give very little information.
Is seems you're using Java 8, which I haven't tested, so that might be the problem.
Did you run a modpack?(If so, which one and which version?)
If not, what mods are you using?

[2015-01-30 19:44] Hazado commented on #3
Yes figured it out. Duplicate mods in the mod folder. Was my mistake, removed the duplicates and server started fine. Haven't seen any issues yet, running the default configs. Will let you know any issues I do run into

[2015-01-30 19:46] wildex999 commented on #3
Great to hear its's running with Java 8 too, don't hesitate to write if there's anything that isn't working =)

[2015-01-31 01:48] wildex999 opened #4 "Correctly account for external load"
Currently, the timing does not take into account time lost to external load. For example if some other program is using a lot of CPU, causing a lot of lost time between Ticks.

[2015-02-02 15:58] Hazado opened #5 "Crash with CoFHCore"
Crashes with any version of CoFHCore above CoFHCore-[1.7.10]3.0.0B9-109.

[2015-02-02 16:12] wildex999 commented on #5
Do you have a crash message or log output of the crash?

[2015-02-02 16:16] wildex999 commented on #5
I am able to boot both a Forge server and a Cauldron server using "CoFHCore-[1.7.10]3.0.0B9-110" and TickDynamic 0.1.3 without crash.
Does this happen on boot, or at a specific point?

[2015-02-02 16:17] wildex999 commented on #4
This has been fixed in version 0.1.3

[2015-02-02 16:17] #4 closed

[2015-02-02 16:18] Hazado commented on #5
Um, try CoFHCore-[1.7.10]3.0.0B9-120.jar or CoFHCore-[1.7.10]3.0.0B9-116.jar.
I went from 109 to 116 and didn’t test any inbetween.

It happens on boot, right after you make your core edits

[2015-02-02 16:20] wildex999 commented on #5
ok, reproduced it. Seems to be a problem in my patcher, I will fix it =)

[2015-02-02 16:21] Hazado commented on #5
Thanks, Wildex999!

[2015-02-02 16:47] wildex999 commented on #5
Ok, uploaded version 0.1.4, which fixes this crash =)

Thank you for taking the time to report this bug!

[2015-02-02 16:47] #5 closed

[2015-02-05 05:27] Katelyn-SN opened #6 "Per chunk ticking."
Thought i might add this as a progress report.

[2015-02-05 13:35] wildex999 commented on #6
Currently I'm working on the ability to define groups, allowing you to set certain TE's/Entities to be given a different time slice, or making the not be slowed down at all.
For example, say you want to slow down Cows,Chickens and Pigs more than other Mobs, you will be able to do so.

I'm also working on adding the ability to time and limit per player.

Per chunk ticking I'm not entirely sure how

[2015-02-06 16:09] GunArm opened #7 "BigReactors (and other TileEntities using Server TPS for calculation) problems"
As detailed in this thread http://forum.feed-the-beast.com/threads/1-7-10-cauldron-1-8-tick-dynamic-keep-your-server-running-at-20-tps.61903/ BR uses TPS to make calculations, rather than just relying on tileEntity updates.  The thread details an issue with an actively cooled reactor using water faster than a choked transfer pipe could supply.

I wanted to add that there are issues with passive re

[2015-02-06 16:11] wildex999 commented on #7
Yeah, it happens due to the skipping ticks, so it should give as much energy as if it was running at a clean 20 TPS.
However, it should also consume fuel/water etc. as if it was running at 20 TPS, so it should not be "free" energy.
So it should run out of fuel 2.4 times faster.
Can you confirm this?

[2015-02-06 16:34] wildex999 opened #8 "Custom groups"
Allow for defining custom groups, that are either excluded from the slowing down, or have it's own defined time slices.

[2015-02-06 16:36] wildex999 opened #9 "Per user timing and slowdown"
Have Entities and TileEntities be bound to a specific user.
Have time slices defined for a user, allowing the Entities/TileEntities of the user to be timed and slowed down when necessary.

[2015-02-06 16:38] wildex999 opened #10 "Correct timing with slicesMax = 0"
Currentl, putting slicesMax to 0 for Entities or TileEntities within a world, can make the server TPS drop, as it does not correctly take the "reserved" time into account when balancing the time for worlds.

[2015-02-06 16:38] #10 closed

[2015-02-06 16:39] wildex999 opened #11 "Allow for non-op users to use the commands"
Add an config entry where you can define users that are allowed to use the commands.
Good for servers where moderators do not have OP permissions.

[2015-02-06 16:40] wildex999 commented on #8
This is currently the work in progress.
This requires a bit of rewriting of the system I originally used, and takes a bit of time.
It will also pave the way for per-user accounting, which will come in 0.3.0, as each user will be a group.

[2015-02-06 18:23] GunArm commented on #7
I am willing to, however I'm not exactly sure how to do it.  For measuring power output I put a teir3 EIO conduit coming straight out of my reactor power port and measured the throughput with a conduit probe and compared to the power output number in the reactor controller interface.  I'm not exactly sure how to get an "actual" number for burn rate, to compare to the one in the interface.

[2015-02-06 19:21] wildex999 commented on #7
Ok, I just did a test on my server.

First i set up a simple Reactor, with a single fuel rod, and have it a single Yellorium ingot.
Then I put an empty Energy Cell on the power output, and started it, with TickDynamic disabled.
I let it run until It used up a certain amount of fuel, noting that it takes 1mB of fuel every second, and noting the resulting energy in the Energy Cell.

Then I reset it

[2015-02-06 19:28] wildex999 commented on #7
As for the Conduit showing a larger energy output than the Controller.
Let's say the TileEntity TPS is 10 TPS, and the Reactor is producing 10 RF/t.
However, while the Reactor is producing 10 RF/t, it's actually giving you for 20 TPS.
So every OTHER tick, it will output 20 RF.
As the TileEntity TPS goes lower, it will seem like it's producing more power, because it's giving it over less ticks.

[2015-02-06 21:57] GunArm commented on #7
Ah good test.  The hurdle in my mind was how to load up a test world with enough junk to bring the Tile Entity TPS down or even measure that.

I want to say first of all that I think this is a great mod and a great idea.  So good infact, I almost think Mojang should have thought about it and implemented something similar into the core of minecraft to begin with.  But I'm a little worried by this.

[2015-02-06 23:56] wildex999 commented on #7
The only mods that I can see that would do the calculations independent of TileEntity TPS, is mods with multiblock structures, as they would not logically have one block in the structure that do the calculations, but rather see all the blocks as a single entity.

Also when it comes to balance. You can't really look at it as the Reactor producing double the power in a given time, but rather that th

[2015-02-09 15:36] GunArm commented on #7
Ah ok this makes sense to me!

[2015-02-11 21:23] wildex999 opened #12 "Command output width is non-monospaced"
Somehow account for the Minecraft chat letters not being a single width.
Will make the chat/command output much more readable.

[2015-02-22 17:37] Slind14 commented on #8
Would this allow per mod settings?

[2015-02-22 22:05] wildex999 commented on #8
Yes, you will be able to place every item, TileEntity, Entity etc. from a mod, inside a group.

[2015-02-27 07:50] miuirussia opened #13 "Crash with CoFHCore"
Crashes with any version of CoFHCore above CoFHCore-[1.7.10]3.0.0RC2-201

LOG:
http://pastebin.com/6LnfRF5G

output_original.log:
http://pastebin.com/hiez90pV

[2015-02-28 23:02] wildex999 commented on #13
It seems to be a patching conflict. It may be that it's incompatible with another mod patching the same place, or the forge version(you did use the forge download, right?).
I'm not home right now, so I can't fix it.
 I'll look into it once I get home in a few days =)

[2015-03-08 20:32] wildex999 commented on #13
This has now been fixed for version 0.1.5, which can be downloaded from the project page =)

[2015-03-08 20:32] #13 closed

[2015-03-09 20:43] wildex999 opened #14 "Per group world time"
Certain mods(Thaumic Tinkerer) depends on an linear World time, doing certain checks or calculations on specific World times(Tick count).
As it stand now, some Tiles/Entities might not tick on certain world times.

For 0.2.0 implement a Group-specific world time, which is set when that group is ticking.
This world timer will essentially be increasing as the group is ticking it's last Entity.

[2015-03-09 20:46] wildex999 opened #15 "Setting slicesMax to 0 causes TPS drop on loaded server"
If you set slicesMax to 0 on either 'entity' or 'tileentity' inside a world on an loaded server, will cause noticeable TPS drop.
This happens because it does not correctly account for the time used by the group when slicesMax is set to 0.

[2015-03-09 20:46] #15 closed

[2015-03-09 20:48] #7 closed

[2015-03-10 07:25] Katelyn-SN commented on #6
What would be nice is per entity/tile entity or per chunk so if one user on the server is doing some really bad stuff everyone else is not effected all his things are just slowed way down.

[2015-03-28 02:48] Zendrex opened #16 "FTB Infinity help."
I know this github is only for bugs really, but though I could get some support from the mod developer himself.

I have a few FTB servers I run, I used your mod overnight and it helped, however I have no clue how to optimize it with 10 different worlds. I am running FTB infinity.

[2015-03-30 02:34] Katelyn-SN commented on #16
Optimizing 10 different worlds? Make a server per world. Minecraft servers are single threaded they can not and will not support that many worlds properly. We split our servers up per world and it helps with performance significantly.

[2015-03-30 05:52] Zendrex commented on #16
I would do something like that, but because of quarrys, etc I wouldnt be able to. :/

[2015-03-30 05:53] Katelyn-SN commented on #16
Well thats your only option to improve performance. Minecraft servers are not meant for that workload.

[2015-04-11 04:44] Flukethoughts opened #17 "hello"
I was wondering will you be updating the cauldron version anytime soon?

[2015-04-14 09:55] wildex999 commented on #17
Hello,
What do you mean? Have you found a bug in the current Cauldron version?
So far the only non-Cauldron updates have been to fix problems which doesn't appear in the Cauldron version.

As for version 0.2, that is on hold until I start playing Minecraft again.

[2015-04-14 17:43] Flukethoughts commented on #17
The current version of tickdynamic doesn't work with cauldron 1370
http://tcpr.ca/cauldron

And we are currently needing to use that version to fix a few bugs

On 4/14/2015 4:55 AM, wildex999 wrote:

[2015-04-27 00:03] solomon56 commented on #17
I'm running into this issue as well TickDynamic not patching the latest methods from forge 1395 or any cauldron version past 1307

[2015-05-18 06:07] Zilacon opened #18 "TickDynamic does not let the server boot."
Using cauldron build 1388 for 1.7.10 and when i place tick dynamic into my mods folder and start the server it says:
[code]

Any way to fix this?

[2015-05-21 04:22] Zilacon commented on #17
It also does not work on KCauldron.

[2015-06-11 23:56] cpm9 opened #19 "Help With Adding To Server"
Okay I would like to add this to my 1.8 Forge server but of course I can't because its forge not  cauldron. IS there someway of getting 1.8 cauldron if so PLEASE do give me the link. I've been looking for hours and can't find it.

[2015-06-12 00:17] Katelyn-SN commented on #19
There is no such thing as 1.8 nor will there ever be go take a look at the SpongePowered project.

[2015-06-16 13:45] Beelzaboss commented on #18
Same issue, please help ;( I am using KCauldron

[2015-06-16 14:13] Beelzaboss opened #20 "A problem occurred running the server launcher. (Log)"
Hi there, I am having a issue trying to start up with TickDynamic using the latest KCauldron, Here is my log for early startup. KCauldron is a 1.7.10 fork of Cauldron that supports newer versions of Forge, It can be found here: http://tcpr.ca/cauldron.

Here is my early startup log, hope it may help :smile:

http://pastebin.com/ne28xd78 *New Log

[2015-06-16 16:43] Katelyn-SN commented on #20
This has been reported many times already but it seems it might be safe to say this mod is pretty much abandoned.

[2015-06-18 18:05] louisw22 commented on #18
It could be an issue with KCauldron, I have the same Problem

[2015-06-18 19:08] Katelyn-SN commented on #18
Yeah it's a patching error with the changes made by the recent updates to forge. Considering we have not heard from the Dev in a while this project is pretty much dead.

[2015-06-18 22:21] louisw22 commented on #18
It's a shame

[2015-06-22 18:54] wildex999 commented on #18
Hello,
I have been(And still is) busy with other projects at the moment. I will probably come back to update this at a later time when I get back into Minecraft.

Last I heard Cualdron was done, and I thus stopped updating the mod for it.
I haven't heard of KCauldron before now, so I might take a look at making it compatible at a later date.

For now I will upload the source code, so anyone who wa

[2015-06-22 18:56] wildex999 commented on #19
I might make the mod compatible with Forge 1.8 at a later date, but currently I'm not able to work on this mod.

[2015-06-22 18:57] wildex999 commented on #20
Hello,
Thank you for the link and log, as that will help when implementing support.
However, currently I don't have time to update this mod. I will take a look at it at a later date when I have time.

I will however upload the source for anyone who are willing to take a shot at it.

[2015-06-22 19:08] Katelyn-SN commented on #20
If you put up the source expect it to be fixed within days.

[2015-06-22 19:10] wildex999 commented on #20
The mod is quite complex as I do bytecode modifications, and implemented my own "language" for writing patches. =P

The code is up now. Master is the latest 0.1.x version, while my work on 0.2.x is in it's own branch.

[2015-06-25 08:57] Katelyn-SN commented on #18
For those wanting KCauldron support @thomas15v has converted this mod to mixins and as far as our testing goes it is currently working.

https://github.com/ShadowNode/TickDynamic/releases

[2015-06-25 08:57] Katelyn-SN commented on #20
For those wanting KCauldron support @thomas15v has converted this mod to mixins and as far as our testing goes it is currently working.

https://github.com/ShadowNode/TickDynamic/releases

Also what did i say @wildex999 a few days? :P

[2015-06-25 08:58] Katelyn-SN commented on #17
For those wanting KCauldron support @thomas15v has converted this mod to mixins and as far as our testing goes it is currently working.

https://github.com/ShadowNode/TickDynamic/releases

[2015-06-25 09:05] thomas15v commented on #20
Calm down @Katelyn-SN XD. I just got it working and I am almost sure that we are overwriting some cauldron features. I still need to filter the mixins better and use `@Inject` stuff instead of `@overwrite`.

[2015-06-25 11:45] wildex999 commented on #20
Color me impressed xD Tho it is painful watching my patcher being removed :p

@thomas15v I am however curious about how well Mixins handle collisions with other coremods? Or event just small updates that change the name of structure slightly.
I know I had to take into account CoFHCore patching the exact same spot in World, and I had written my patcher to be able to.

Also, in my work on 0.2 I was

[2015-06-25 15:28] thomas15v commented on #20
Mixins still has issues with other coremods sadly enough. The "update" I made will probably be incompatible with other mods. The way to solve that is using @injects.

I don't think mixins supports changing the type field. But I think i might change the tick skipping way with breaking the loop. Changing loops with mixins simply doesn't work yet :cry:.

And sorry for removing the patcher. I just did

[2015-07-03 21:45] ajthemacboy commented on #13
When will these changes be added to TickDynamic cauldron?

[2015-07-07 23:31] Zilacon commented on #18
@Katelyn-SN While i love the work of @thomas15v I have tested his version of TickDynamic and it was killing my servers more then helping. Eventually everything slowed down to a crawl after about 2 hours of uptime. Even when i set the splices for specific worlds to 300+ those worlds still slowed down to a crawl after 2 hours. In the end it is impossible to have this running on my servers using KCau

[2015-07-08 06:35] thomas15v commented on #18
Yeah I can't help it. Probably cauldron or minecrafts tick calculation system has been overwritten in my patch. @Katelyn-SN can you please stop throwing beta stuff around :smile:. My test was just to see if mixins where capable of doing patches like these.

[2015-10-10 16:32] tenten8401 opened #21 "Not compatible with kCauldron"
I can't get it to work with kCauldron to save my life.
Please take a look.

[2015-11-24 12:47] spannerman79 commented on #21
https://github.com/ShadowNode/TickDynamic/releases

[2015-12-25 05:52] Polyana-Fontes commented on #20
@thomas15v  I could help with mixins, however I didn't find any documentation or example code using `@Inject`, when I need to patch I still use forge class transformers and I feel like I'm doing the old and time-hungry way just because I couldn't understand how to inject code without overwritting the entire method using mixin. Do you know any example code? If you share it I might help you in few d

[2015-12-31 22:17] UnixRonin commented on #21
I just discovered TickDynamic myself and said "WHEEEEE!!!!!!!"  Then discovered the exact same problem.

Compatibility with KCauldron-1.7.10-1448.121-server or newer would be hugely appreciated.  (As in I'd be willing to help fund it happening.)

[2016-01-02 07:33] ianc1215 opened #22 "Webpage blocked by major search engines and security software."
I could not find any other way to contact you regarding this.

Your website looks like it has a serious issue. Google and Microsoft prevent access to the page from browsers. Even when I tell Google to go there anyway my anti-virus flips out.

I was not sure you were aware of this but someone might have buried something in your webpage which needs to be addressed.

[2016-01-02 22:16] wildex999 commented on #21
Yeah, sorry about no KCauldron compatibility. I'm thinking of playing some more Minecraft again, so I will probably have a look at making the mod compatible some time soon, when I have time.

[2016-01-02 22:18] wildex999 commented on #22
Hey, thank you for taking the time to inform me of this. I kinda left some Advertisement code on the webpage way back, and it seems to have gone bad lately. I also got popups and stuff when I visited just now =/

I have removed the advertisement code now, so it should all work well.

[2016-01-02 22:45] UnixRonin commented on #21
That would be awesome.  Proactive tick-time rationing is something modded Minecraft has needed for a long time.

[2016-01-02 23:32] spannerman79 commented on #21
:+1:

[2016-01-03 00:35] #22 closed

[2016-01-09 14:45] tenten8401 commented on #21
Maybe if your ambitious enough you could keep this going for 1.7.10 as well... Even attempting to make it kCauldron compatable is a big plus though.

[2016-01-09 18:16] Y0ungSandwich commented on #21
Would absolutely love to see a Kcauldron compatible version as well. I got so excited when I saw this mod then saddened when I saw the server not launch. :P

[2016-01-12 20:34] wildex999 opened #23 "Web Interface"
Having the printout and control through the chat is a pain, so I'm going to implement a simple web interface that will show all the info, and allow configuration.
Should be much better than writing chat commands, given that you have a free port on the server.

[2016-01-12 20:45] #16 closed

[2016-01-12 20:46] #17 closed

[2016-01-12 20:50] #18 closed

[2016-01-12 20:50] #20 closed

[2016-01-12 20:51] wildex999 commented on #21
Have some progress lately, the new implementation for 0.2.0 seems to be working fine on normal Forge so far, using the new patching method it should in theory also work for Cauldron and kCauldron with very few modifications.

I have a bit work left to ensure the timing calculation works correctly, and the commands and output needs some more work.
I'll try to have something for testing soon.

Some

[2016-01-12 20:55] spannerman79 commented on #21
I assume that you already know that the git repo for KCauldron is at https://gitlab.prok.pw/KCauldron/KCauldron .

Once you have a testing build I'm more then willing to test @wildex999. While using KCauldron of course :smile:

[2016-01-12 21:03] spannerman79 commented on #23
Suggestion: Have the web server port able to be defined via config option, Some of us use iptables so we will need to create a rule to allow connection to that particular port.

[2016-01-12 21:07] wildex999 commented on #23
Yeah, that was the plan =)
I fully understand that a static port might be a problem, especially if you are running the server on some shared server with other users.

[2016-01-12 21:17] spannerman79 commented on #23
Another suggestion;
As you'll be moving to a full web UI what about adding in the option to output various results via a paste service?

Use Past.ee to be able to share stats instead of having the need to take screenshots.

Past.ee has an API, and the past.ee option can only be "active" once a user has set their own API key in. http://paste.ee/wiki/API:Basics

[2016-01-12 21:21] wildex999 commented on #23
Not a bad idea. I'll probably add a simple chat command "/tickdynamic pastebin all" for when not using the web UI, and then a more complex version in the web UI.

[2016-01-12 21:24] #19 closed

[2016-01-12 21:36] spannerman79 commented on #23
I suggested past.ee as via the API you can post pastes up to 12MB in size.  I am unsure of what limitations that pastebin.com has as I don't even look at pastebin.com anymore after I discovered and use past.ee thanks to MultiMC

[2016-01-12 21:48] #8 closed

[2016-01-12 23:00] UnixRonin commented on #21
I also would be glad to test on KCauldron.  I already have a test server online.  I'm running KCauldron-1.7.10-1448.121-server at the moment, but I have KCauldron-1.7.10-1517.168-server and KCauldron-1.7.10-1614.174-server downloaded (but not yet tested with my modpack).

(Actually just testing and updating to 1.7.10-1614.174 right now.)

[2016-01-13 02:47] wildex999 commented on #21
Been looking at the KCauldron source code for the part which is pertinent for TickDynamic's work.
It seems that KCauldron has a very basic limiter implemented lately, which essentially stops ticking Entities/TileEntities if the whole loop uses more than x milliseconds(Default 50ms it seems = One world tick).

This might be a problem if the limiter decides to break off in the middle of TickDynamic'

[2016-01-14 21:59] spannerman79 commented on #21
Did you see at which commit it was changed?

[2016-01-14 22:50] wildex999 commented on #21
The limiter was added here: https://gitlab.prok.pw/KCauldron/KCauldron/commit/4496eada0ad96669a6d5556231921c32de6a7034

However, I think I can work around it by (ab)using the profiler a bit =P
I think I can make it play nice with the limiter, but I will still recommend server owners to turn off the limit(Set it to a unlikely high value)

[2016-01-14 23:21] UnixRonin commented on #21
I assume you mean set KCauldron's limit to an unlikely high value.  How do we do that?  I'm not seeing anything that looks obviously relevant in my kcauldron.yml file, which is where I assume it would be.  However, kcauldron adding tick-limiting might be why after upgrading kcauldron and about half a dozen mods, my total tick CPU time dropped from 65-70ms down to 38-42ms.

[2016-01-14 23:29] wildex999 commented on #21
The config options seems to have been added under spigot.yml for some reason:
   max-tick-time:
      tile: 50
      entity: 50

It defaults to 50 ms, which essentially means that if it takes more than 50 ms to update just Entities or just TileEntities, it will simply stop the updates at that point, and continue from there on the next tick. It's the same idea as TickDynamic, but it's a hard limit

[2016-01-15 03:06] spannerman79 commented on #21
I already set both to 1000 due to some spigot timing issues

More information can be read via http://aikar.co/2015/10/08/spigot-tick-limiter-dont-use-max-tick-time/

[2016-01-16 20:28] wildex999 commented on #21
Ok, I have an early KCauldron build ready, using the new Grouping system.
So far I have tested it on a vanilla KCauldron server, and KCauldron on FTB Infinity.
I have pointed out some known issues on the release page.

I'm not currently running a Minecraft server myself, so I don't have the ability to test it out on a fully running server with stuff happening. I would really appreciate it if any o

[2016-01-17 01:57] spannerman79 commented on #21
I could give you access to the repo that the unofficial builds were built from @wildex999

Those builds were a little more stable then what the current builds are - as you would have seen by looking at the kcauldron issue tracker.

[2016-01-17 02:13] wildex999 commented on #21
Hehe. The only problem I have found when using TickDynamic with KCauldron so far, is that it randomly decides that it can't remove an entity. I'm pretty sure that is a problem with TickDynamic, I just haven't found the reason yet.

I have also put out TickDynamic dev builds for Forge 1.7.10 and Forge 1.8 now, so you guys are free to test it out. Development builds are under "Resources" on github.

[2016-01-17 02:22] spannerman79 commented on #21
Well I've added you in anyway - you should have access.  Feel free to compile or you can grab pre-compiled from the release tab :stuck_out_tongue:

You'll be able to see from the commit history.  And if in fact tickdynamic was able to remove an entity without an issue on the unofficial builds then its something that wasn't reverted back or was added at commit https://gitlab.prok.pw/KCauldron/KCaul

[2016-01-17 14:07] wildex999 commented on #21
Now KCauldron is just out to screw with TickDynamic -_-
https://gitlab.prok.pw/KCauldron/KCauldron/commit/097252b5bf8fc95b4ceb059bdff83ca992f13dbe

[2016-01-17 17:53] tenten8401 commented on #21
oh my

[2016-01-17 23:10] spannerman79 commented on #21
Sigh.... I know what Prototik is trying to do but that doesn't help you @wildex999

What about the unofficial repo that I gave you access to?   That was built from kcauldron builds 152 - and also on Yives mirror

[2016-01-17 23:29] wildex999 commented on #21
I haven't had the time to check it out yet, moving tomorrow and won't have access to my desktop until then end of the week.

The top google result(For me at least) for KCauldron, is https://gitlab.prok.pw/KCauldron/KCauldron. So that is what I'm developing against right now, as I assume that is the version most people will use.

[2016-01-17 23:33] spannerman79 commented on #21
True - although it looks like build 152 (or builds based on 152) seem to have the least issues.  Anything onwards ... well here are some issues so far

Just now - https://gitlab.prok.pw/KCauldron/KCauldron/issues/301 (most recent)

Ongoing - https://gitlab.prok.pw/KCauldron/KCauldron/issues/289

[2016-01-17 23:38] wildex999 commented on #21
KCauldron has the same problem Cauldron did. It's a mix of so many different servers, with it's own addition of 'fixes', that things will just break at every corner.
All it takes is a mod which makes a certain assumption that KCauldron does not.

Though https://gitlab.prok.pw/KCauldron/KCauldron/issues/289 does seem kinda bad.

[2016-01-17 23:57] spannerman79 commented on #21
Yeah - thats why many server admins have kept to 152 builds or have branched off their own builds based on 152 - as you prob have seen yourself :stuck_out_tongue:

I'm staying with kcauldron until the majority of the mods that I use (80%) have moved over to 1.8/1.9 then I'll be moving to [SpongeForge](http://files.minecraftforge.net/spongepowered)

[2016-01-18 02:38] spannerman79 commented on #21
Well one use has moved back to one of the builds I did https://gitlab.prok.pw/KCauldron/KCauldron/issues/289#note_2356 - for now.

You could state that you support up to build 152 while within `spigot.yml` the options under `max-tick-time` **must** be set to `1000` or higher.

[2016-01-29 10:40] spannerman79 commented on #21
I've made a couple of updates that should be more in line to what would be ideal for tickdynamic (via https://github.com/spannerman79/KCauldron/releases) that you have access to @wildex999

[2016-01-29 22:28] wildex999 commented on #21
Yeah, I noticed. Github informs me when you do releases on there.

However, as I mentioned before, I can't base TickDynamic on your builds, as they are not what most people will find when they search for kCauldron for their servers =(

[2016-01-31 17:36] spannerman79 opened #24 "kCauldron - Report on performance of 0.2.0-dev1"
I've been running this on an actual "Open Beta" type server for awhile now.  The label of Open Beta is so that my users know not to expect anything to stay the same and that there **will** be issues.  Even `rm -rf world/` :smiling_imp:

Overall;

Yes there is *some* world leakage but if anyone that runs kcauldron or a forge based server for longer then 6ish hours without restarting needs to be sho

[2016-01-31 17:57] wildex999 commented on #24
Thank you for taking the time to test and write about it =)

I'm hoping to get rid of world leakage before the final release. Some things still hold a reference to the world after they are unloaded.

I'm currently working on getting group reload to work. I want it to work correctly, as I want to allow for testing different group values without needing a full server restart(Which usually takes a wh

[2016-01-31 18:42] spannerman79 commented on #24
I'd say I have a fairly healthy server (16GB ram, Java 8, ~3.5Gkz CPU's SSD) so it can handle almost everything.

On purpose myself and some friends created some ticking tile entities (hoppers being activated via http://ftbwiki.org/Redstone_Clock) dropping into chests and those feeding into vanilla furnaces.

Even did the worst thing you could think of - force create phantom chunk loading, or my f

[2016-01-31 18:59] wildex999 commented on #24
Hehe, Chunk Churn indeed.
Chunk unloading/loading and World Generation usually happens in bursts. Tick Dynamic does time management on averages, and will thus not be able to accurately account for burst work. It should still be able to smooth it out, as it seems to have done in this case =)

It seems then that it works as it should at least =D
I will probably set up a public server of my own at so

[2016-01-31 19:56] linkinkov commented on #21
@spannerman79 can you give me access to you rep?

[2016-02-01 01:56] joserobjr opened #25 "Not working"
I downloaded the latest dev version for kcauldron and installed on my server, on the first time it appeared to be running fine but I tested only by few seconds alone on the server, then I tried to create a group to prioritize cars and vehicles from MCHeli and Vehicular Movement mods over other entities, so I changed the config file and restarted the server, but when the server restarted it was unp

[2016-02-01 01:58] Polyana-Fontes commented on #25
The tick time seems to be increasing if I leave the server running on this condition...
![image](https://cloud.githubusercontent.com/assets/3679022/12707116/242359a0-c86e-11e5-9e3b-b8ab28467c2d.png)

[2016-02-01 03:35] Polyana-Fontes commented on #25
Turns out it caused a corruption in one mod that I don't know yet because the problem persisted after I removed TickDynamic from the mods dir, I'm going to investigate what happened exactly and I'll update this issue when I have more information.

[2016-02-01 06:51] spannerman79 commented on #25
Which mod exactly? the hash value of the mod that is on your server? For both tickdynamic and this "corrupt" mod

Did you actually read the release notes and set the values of `max-tick-time` for both `tile` & `entity` to `1000`within `spigot.yml`?

[2016-02-01 06:51] wildex999 commented on #25
Hey, thank you for taking the time to describe the problem you have =)

Looking at the first screenshot you provided, it seems that the lag happens not at any one Entity or TileEntity, as it seems to only allocate 1,88 ms(Should be much higher) to Overworld.
This tells me that there is something outside the ticking of Entities/TileEntities which is causing the lag.
It might be as you said, some co

[2016-02-01 06:54] spannerman79 commented on #24
A side note - instead of giving releases as rar's you could upload the jar directly - this makes it easier to `wget` directly onto the server via ssh

[2016-02-01 06:58] spannerman79 commented on #11
You could use permission node system.  I see you have some dev releases for 1.8 minecraft - did you take a look at SpongeAPI yet?

[2016-02-01 07:25] wildex999 commented on #11
Yeah, I have been watching it on and off. They seem to be nearing release, so I guess I should try to make it compatible with SpongeForge too.

I'm not yet sure how I will be doing permissions. Originally I just figured I'd allow you to add moderators in the config or something. I don't wan't to depend on an external permission system, especially as I try to make TickDynamic compatible with multip

[2016-02-01 07:32] spannerman79 commented on #11
Adding via UUID would be best I think.  That way it wouldn't matter if a user changed their minecraft name it will still be in effect.

Adding or removing the user could be defined by UUID or even the current minecraft name.  The same way that when you add a user to ops or to a whitelist - their UUID is added, the display name is more for ease of recognition when you edit/view said file.

Could al

[2016-02-01 08:04] spannerman79 commented on #6
The only way that i could see something like that happening if you use some sort of permission system.  Be it kcauldron, forgeessentials or even SpongeAPI but that wouldn't be exactly dynamic.

You could (for example) define a permission node to have x amount of slices for that node.  Would be more ideal for say those users that help contribute towards the running costs of the server over those th

[2016-02-01 18:33] Polyana-Fontes commented on #25
Hi, the world has over 8 GB, it's too big.

The release notes didn't mention about `max-tick-time`:
![image](https://cloud.githubusercontent.com/assets/3679022/12726654/87b5a836-c8f7-11e5-92c2-5331ca43af53.png)

The problem seems to be with Applied Energistics, it seems to be adding `Callable` objects on a queue in an increasing ramp
![image](https://cloud.githubusercontent.com/assets/3679022/1272

[2016-02-02 07:29] wildex999 commented on #25
Yeah, I don't think I mentioned max-tick-time in the dev releases, but that doesn't seem to be the problem here.

I don't think the problem is with Applied Energistics, as that only seems to be what is causing a chunk to load. The problem seems to be in the NBTTagList. Most likely something was corrupted during the writing of NBT data for a block, entity or even the chunk itself, causing it to spe

[2016-02-02 07:33] spannerman79 commented on #25
There was always a known issue with rv2 that was fixed in rv3 in regards to a ME drive cycling loading of the chunk it's in over and over.

This was fixed via https://github.com/Gamealition/Applied-Energistics-2/commit/0a4742ddd498a339f4114be7fddc0e0584de83a9

Which version of AE2 is being used?

[2016-02-03 02:44] Shybella commented on #24
I'll give you my body If you can keep this alive.

[2016-02-03 19:18] wildex999 commented on #25
I have tried to replicate this, placing a large AE2 network over multiple chunks, and then unloading/reloading the chunks. Nothing yet =/

What version of kCauldron do you use?

[2016-02-03 19:19] wildex999 commented on #24
@Shybella I'll try to keep the kCauldron alive at least until FTB comes out with a stable 1.8 mod pack =)

@spannerman79 Yeah, I'll do that for future releases.

[2016-02-03 19:47] spannerman79 commented on #25
For the sake of testing remove tick dynamic fully reset configuration files wipe world and start a new test instance. If the issue persists then it's not a tick dynamic issue and this issue should be closed.

[2016-02-05 18:44] wildex999 commented on #24
I think I have fixed the "Entity removal desync!" issue.
It seems that I didn't correctly set-up the "ungrouped" group, so entities which belonged to the "default" group, except in the overworld, were not being removed at all.

This might also have caused other problems(Like world corruption in worst case, as the entity would still "exist", just be marked dead and not ticking)

I'll do some more t

[2016-02-06 13:57] wildex999 opened #26 "Feedback for Development Release 3"
I have just released Development version 3, and I'm getting close to the final 0.2.0 release, before I start working on the next feature set.

I would appreciate it if you could take the time to test a release for your server(Taking world backup first!!!) and giving some feedback on what works and what doesn't while running on a loaded server.

I have released dev3 for KCauldron, Forge 1.7.10 and

[2016-02-06 13:58] wildex999 commented on #25
@joserobjr I have released development version 3 now, do you think you could try using that and see if it still corrupts the world?
https://github.com/wildex999/TickDynamic/releases

[2016-02-06 14:22] spannerman79 commented on #26
I'll test the Forge 1.7.10 build soon(ish).  Long story short I had to stop using kcauldron and move to a vanilla forge instance.  It wasn't by choice (many of my users have some sort of development issue being Autistic, ADHD, etc).

[2016-02-06 14:41] wildex999 commented on #26
@spannerman79 Yeah, so far KCauldron has been more problem than it's worth, so I don't think I'll support it past 0.2. For 1.8 Sponge seems to be the thing =)

[2016-02-06 14:44] spannerman79 commented on #26
Sure is :+1: Not there yet with the number of mods or their function to move fully over to SpongeForge .._yet_

[2016-02-10 12:55] filthy1337 commented on #26
I have tested TickDynamic Dev v3 on my Feed the Beast Infinity Evolved server (2.3.5) with KCauldron-1.7.10-1614.193. There is no crash, but the server just kinda stops before it gets fully up on-line. :/
Is there anything I could try to do to make this mod work for me?

[2016-02-10 12:56] spannerman79 commented on #26
@filthy1337 Logs? Use gist or upload the uncompressed log here

[2016-02-10 13:07] badgernz commented on #26
I have run it on a loaded Infinity server aswell but with KCauldron:1.7.10-1614.174 and have had no loading errors, just crashes when you try use tick profiler and/or opis

http://pastebin.com/AKXCs91M

[2016-02-10 13:20] filthy1337 commented on #26
https://gist.githubusercontent.com/filthy1337/a4343c62b08ba5ab8714/raw/297a2553c189b3bad0808d4da66e94ad8041d19f/gistfile1.txt

[2016-02-10 13:59] spannerman79 commented on #26
@badgernz Use mapless Opis from [here](https://gitlab.prok.pw/KCauldron/KCauldron/wikis/patched-mods) or [here](https://github.com/Gamealition/Opis/releases)

[2016-02-10 14:14] spannerman79 commented on #24
dev-3 released. Closing this issue.

[2016-02-10 14:14] #24 closed

[2016-02-10 14:15] spannerman79 commented on #21
@wildex999 I suggesting closing this issue - you have released dev builds which should be tested.

[2016-02-10 17:35] wildex999 commented on #21
Yeah you are right.
Closing, use the dev issues for any questions/feedback instead.

[2016-02-10 17:35] #21 closed

[2016-02-10 17:38] wildex999 commented on #26
@filthy1337 Could you upload your logs somehwere(pastebin, gist etc.) and post it here? "kinda stops" doesn't help me much unfortunately =(

@badgernz Yeah, compatibility with other mods which heavily modifies/depends on the world loop(Like Opis and Tick Profiler) will work poorly with TickDynamic.
I might make it compatible on Forge servers at some point, but KCauldron is just too much of a minef

[2016-02-11 08:06] filthy1337 commented on #26
Hey! I reinstalled my server (FTB Infinity Evolved 2.3.5) from scratch and and now TickDynamic Dev v3 works as it should. I guess the problem was not in TickDynamic itself (although the problem appeared only after adding TickDynamic and went away by disabling it?), but some other thing that I just couldn't figure out... :/ Well, anyway thanks for this great mod!! Keep up the good work!!

[2016-02-12 18:21] wildex999 commented on #26
@filthy1337 Reinstalled as in started a new world?
There might be certain things that doesn't cause problems unless they exist in the world etc.
If it suddenly starts happening again, it would be nice to know what caused it =)

[2016-02-12 18:47] filthy1337 commented on #26
I actually installed the whole server again from the ground up. :) Downloaded the FTB pack, KCauldron and TickDynamic just so that there was no possibility of unrelated errors confusing me even more! :D If it stops working again I now have a better chance to find out what could have caused the problem in the first place. I'll keep you posted...

[2016-02-12 18:55] spannerman79 commented on #26
Ok so I want to test out the forge 1.7.10 version of the dev release ( https://github.com/wildex999/TickDynamic/releases/tag/Forge1.7.10_0.2.0-dev3 ), but to really test it out i want to be able to add some groups in.

Does anyone have any groups in their config file setup that they are willing to share?

[2016-02-14 16:59] Polyana-Fontes commented on #25
@wildex999 It worked fine with that version

[2016-02-14 16:59] #25 closed

[2016-02-14 17:02] spannerman79 commented on #26
@wildex99 do you have some recommended group settings in order for me to test out your groups option on my forge 1.7.10 server?

[2016-02-14 17:07] wildex999 commented on #26
@spannerman79 Not really. I originally added the group system to allow for excluding mods which was not compatible with Dynamic Ticking.
When I test I mostly just throw Entities like Pigmen into their own groups just to see that it works.

I would recommend you just start putting things you think use a lot of time(Enemy mobs for example) into their own group, and then check how much time they actu

[2016-02-14 17:07] joserobjr opened #27 "Players are unable to respawn, they get disconnected with Internal server error"
I left the mod running for few hours, it was running super fine, but many players started to create topics informing that they couldn't respawn.

This is that they see:
![image](https://cloud.githubusercontent.com/assets/3679022/13035018/be449ba6-d323-11e5-971d-630e0f81a9c3.png)

I captured this screenshot when I killed myself to attempt respawn:
![image](https://cloud.githubusercontent.com/assets

[2016-02-14 17:12] wildex999 commented on #27
Thank you for taking the time to report the issue =)

Are you running the latest "dev3" version? I had hoped that all Entity desync issues was fixed in that.
It seems that it fails to remove the player entities, and thus will have problems adding them back in for respawning.

Which version of KCauldron are you running?

Does running the command "/tickdynamic reloadgroups" fix the issue when it hap

[2016-02-14 17:18] Polyana-Fontes commented on #27
Yes, I read on the description about the entity desync issue, but it happened with player entities. I'm going to do this test in few hours because I just restarted the server (I wasn't expecting a fast reply :P)

[2016-02-14 17:22] wildex999 commented on #27
Players exist in the World Entity list like any other, but they might be removed in a way I'm not correctly detecting. If so, I'll have to look more into it.

[2016-02-14 17:27] wildex999 commented on #27
Maybe also try setting 'debug = true' in the TickDynamic config. This will be a bit spammy in the console, but it might point out a clue to why this happens.

[2016-02-18 22:47] Polyana-Fontes commented on #27
I just an small test with debug=true on my closed-beta server,
What I did:
- started it with the mod
- joined in
- used /fly and flew very high
- disabled /fly to die for fall damage

When I died this started to show repetitively on the console:

[code]

When I clicked on respawn button I got disconnected and this was logged on the console:

[code]

I'm temporarily hosting the full log of this tes

[2016-02-18 22:56] wildex999 commented on #27
Thank you for the log, the information actually tells me quite a bit =)

Looking through the log file, there seems to be 3 problems:
1. TileEntities are not correctly registered as belonging to the Injected list.
2. Players are not correctly removed from EntityList.
3. respawnPlayer tries to call a method I apparently have not implemented(THis cuases the respawn to fail).

I will take a look at th

[2016-02-19 18:37] wildex999 commented on #27
Have looked over it now.
- The TileEntity spam was just an error with the debugging message. It should really have been saying that the TileEntity does not exist in list, which is ok as some TileEntities checks for it's existence before adding to the list.
- Player removal desync was a very specific problem which happens only when the Entity being removed is the last to tick, as it then thinks the

[2016-02-19 18:37] #27 closed

[2016-02-19 18:40] wildex999 commented on #26
I have now released Development version 4. Feedback continues in this ticket for now.

This update is mostly targeted at KCauldron users, but the problems might appear in other servers also, so upgrade if you have any problems.

[2016-02-19 18:41] #6 closed

[2016-02-20 13:04] filthy1337 commented on #26
Tested this dev build 4 and got a crash. [crash-2016-02-20_14.59.27-server.txt](https://github.com/wildex999/TickDynamic/files/139125/crash-2016-02-20_14.59.27-server.txt)

[2016-02-20 13:31] wildex999 commented on #26
Hey @filthy1337
Could you give this one a try?
https://github.com/wildex999/TickDynamic/releases/tag/KCauldron_0.2.0-dev5pre

[2016-02-20 18:49] filthy1337 commented on #26
I will definitely test it! Thanks! :)

[2016-02-21 10:37] filthy1337 commented on #26
For twice now I have had a client crash which has never happened before... Is it a coincidence or TickDynamic related?
[crash-2016-02-21_01.40.05-client.txt](https://github.com/wildex999/TickDynamic/files/139565/crash-2016-02-21_01.40.05-client.txt)
[crash-2016-02-21_12.27.57-client.txt](https://github.com/wildex999/TickDynamic/files/139566/crash-2016-02-21_12.27.57-client.txt)

[2016-02-21 10:43] spannerman79 commented on #26
@filthy1337 open an issue over at the correct issue tracker - http://minecraft.curseforge.com/projects/decocraft2/issues

[2016-02-21 10:45] wildex999 commented on #26
Unless you are running TickDynamic on the client, I can't see how it can cause this. Won't rule it out entirely though. TickDynamic has nothing to do with the chunks being sent to the client, and this seems to be entirely a client error.

The crashing mod needs to throw in a "instanceof" check before casting it seems to me ;)

[2016-02-27 09:03] filthy1337 commented on #26
Okay, I got a new error now:
[crash-2016-02-26_23.19.59-server.txt](https://github.com/wildex999/TickDynamic/files/149272/crash-2016-02-26_23.19.59-server.txt)

[2016-04-12 20:45] nightstalker6669 opened #28 "MineChem crash"
i'm getting this crash when i start up a pure forge 1.7.10 server with minechem installed. i removed minechem and it started up fine. i don't know if this is a minechem issue, or something for you guys as minechem works fine without TickDynamic.

if you need more information please feel free to ask.

http://pastebin.com/6QnsxrfZ

[2016-04-12 23:07] spannerman79 commented on #28
test with just Minechem and TickDynamic **only**

That crash log contains references to other mods.

[2016-04-13 16:53] nightstalker6669 commented on #28
I just removed minechem, I was simply telling you to help you. i know minechem works when tickdynamic is not installed, I only get that error when i install tickdynamic, and it stops when i removed minechem from my pack.

[2016-04-27 03:27] EXilE-EXistance opened #29 "Thermos support"
used this mod for a while now (its lovely) but it doesn't play nice with Thermos which I've just updated my 1.7.10 server with. any chance for support? https://github.com/TCPR/Thermos

[2016-05-05 00:18] tenten8401 commented on #29
Can agree, was just about to open an issue about this.

[2016-05-28 16:02] RawrUniversal commented on #29
Please add this :D

[2016-07-15 05:14] enterprise12nx commented on #29
please do, this sounds like the most amazing mod ever..AE2 takes a gigantic hit on my server, removing it would be sad for my entire player base, and this looks like it could help a ton!

i will gladly donate with thermos support

[2016-07-15 05:16] enterprise12nx commented on #26
I moved to thermos from Kcauldron when it started running smoother, and then i saw Kcauldron dissapeared, i remember @spannerman79
Hoping some support can come to Thermos, but i can understand working towards sponge (hurry up!)
@wildex999

[2016-08-14 10:45] xXBuilderBXx opened #30 "Not working for 1.8.9"
Hey there this mod is not working for 1.8.9 my console is saying this but your github page claims that it works for 1.8.9?
The coremod com.wildex999.tickdynamic.LoadingPlugin is requesting minecraft version 1.8 and minecraft is 1.8.9. It will be ignored.

Also will this mod work for spongeforge

[2016-08-16 14:01] Phreag opened #31 "FTB Infinity Evolved Server Crash (Probably with Hats Mod"
---- Minecraft Crash Report ----
// Why did you do that?

Time: 8/16/16 3:50 PM
Description: Exception in server tick loop

java.lang.IndexOutOfBoundsException: Reached end of groups before finding index: 6806
	at com.wildex999.tickdynamic.listinject.ListManager.get(ListManager.java:317)
	at com.wildex999.tickdynamic.listinject.ListManagerTileEntities.get(ListManagerTileEntities.java:55)
	at com.w

[2016-10-13 15:24] sherkas opened #32 "1.10.2 support please!"
Loved this on 1.7.10.

could you update it to 1.10.2 ?

[2016-10-13 17:08] wildex999 commented on #32
Most likely not, sorry =(
There is just too much work to get in this functionality as a Core Mod. This would actually work much better if implemented directly in the server.
It is open source, so anyone is of course allowed to keep working on this ;)

[2016-11-19 16:12] leytilera commented on #29
please make it

[2016-11-19 16:19] wildex999 commented on #29
Sorry, but It's just too much work to maintain this for the different Server implementations. This mod makes changes to the bytecode, which wreak havoc when combined with servers which also make a lot of changes to the server code. Not to mention other mods which also does bytecode changes.

I have been thinking of maybe re-writing this to use Mixins later on, which would be easier to maintain. Bu

[2016-11-28 14:38] Guichaguri commented on #32
@wildex999 Can I reimplement your idea in my mod? It would be one of the first moves for server peformance improvements. I have some plans for the future, such as supporting Vanilla, Forge, Bukkit and Cauldron

[2016-11-28 14:43] spannerman79 commented on #32
@Guichaguri if you look at the licence https://github.com/wildex999/TickDynamic/blob/master/LICENSE its MIT - and not to mention direct quote from @wildex999

Seems pretty clear to me

[2016-11-28 15:00] Guichaguri commented on #32
@spannerman79 Thanks, I should've been a bit smarter.

[2017-01-04 11:40] xXBuilderBXx commented on #30
No support

[2017-01-04 11:40] #30 closed

[2017-04-27 03:21] ghost commented on #29
Was about to add this request as well, makes sense now why the server wouldn't start. SO now I'm using Ptweaks and ClearLagg but still for whatever reason sometimes creating new chunks while exploring kills the server... Running it on a Dell R710 24 core 96gb ram oh well :(

[2017-04-27 21:25] spannerman79 commented on #23
for reference: https://github.com/NanoHttpd/nanohttpd

[2017-05-11 02:23] DonielMoins commented on #32
@Guichaguri Please make this, thanks in advance.

[2017-06-16 16:42] The-Fireplace commented on #32
@sherkas here you go. https://mods.curse.com/mc-mods/minecraft/269359-tick-dynamic

[2017-06-16 22:22] wildex999 commented on #32
@The-Fireplace Looks nice =D
You plan do expand it, or just maintain it?

[2017-06-16 23:29] The-Fireplace commented on #32
@wildex999 Currently, I'm just planning to maintain it.

[2017-06-21 03:05] sherkas commented on #32
Awesome, love it, thank you so much!

[2017-06-21 03:06] sherkas commented on #32
Awesome, love it, thank you so much!

[2018-06-21 19:10] alxcool opened #33 "[14:04:16] [Server thread/WARN] [tickdynamic]: Trying to remove: null but not instanceof class EntityObject"
Single player 1.12.2 (old launcher) on forge 2705.
TickDynamic-1.12.2-1.0.1
What does that mean? And why my minecraft console write that line 20 time per sec, as soon as I load a map?
_`[14:04:16] [Server thread/WARN] [tickdynamic]: Trying to remove: null but not instance of class EntityObject`_

Minecraft crashed while I was sorting a few items (open/close many chests). The game paralyzed and it

[2018-06-21 19:15] alxcool commented on #33
Wrong project, sorry... How do I delete his?

[2018-06-21 19:15] #33 closed

[2018-06-21 19:17] wildex999 commented on #33
No problem, don't think you really can delete GitHub issues.
I hope you find a solution to your problem :)

[2019-08-09 20:57] Skyland001 opened #34 "My Infinity Evolved Priv. server crashes"
so i made a personal server and the first day it worked fine, but the next day when me and my friends joined we noticed that it randomly started timing us out yet the server was still running.
ill post the crash report down here and also the whole Command Prompt just in case.
[code]

[2019-08-10 00:25] spannerman79 commented on #34
`Caused by: java.util.zip.ZipException: incorrect data check`
Not an issue for this issue tracker or any issue tracker
Check your server and mod jars on your server

https://lmgtfy.com/?q=Caused+by%3A+java.util.zip.ZipException%3A+incorrect+data+check